<!-- templates/home/result.html -->
{% extends "layouts/base.html" %}

{% block title %} Prediction Result {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <!-- Add any specific stylesheets for the result page if needed -->
{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="row col-5">
            <div class="col-10">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category">Price Chart</h5>
                        <h2 class="card-title"></h2>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="predictionChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Include Chart.js -->   
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    // Extracted chart creation function
    function createChart(data) {
        var chartData = {
            labels: data.map(entry => entry.DATE),
            datasets: [{
                label: 'COPRA PRICE',
                data: data.map(entry => parseFloat(entry.PRICE)),
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 2,
                fill: false
            }]
        };

        var chartOptions = {
            responsive: true,
            scales: {
                x: {
                    type: 'time',
                    time: {
                        unit: 'day'
                    }
                },
                y: {
                    title: {
                        display: true,
                        text: 'Price'
                    }
                }
            }
        };

        // Create a line chart using Chart.js
        var ctx = document.getElementById('predictionChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: chartData,
            options: chartOptions
        });
    }

    // Fetch prediction data from Flask route
    fetch('/get_prediction_data')
        .then(response => response.json())
        .then(data => {
            createChart(data);
        })
        .catch(error => console.error('Error fetching prediction data:', error));

</script>

{% endblock javascripts %}
